<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-financial-account-heading">Create or edit a Financial Account</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!financialAccount.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="financialAccount.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_alias">Alias</label>
                    <input type="text" class="form-control" name="alias" id="field_alias"
                        [(ngModel)]="financialAccount.alias" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_balance">Balance</label>
                    <input type="number" class="form-control" name="balance" id="field_balance"
                        [(ngModel)]="financialAccount.balance" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_financialAccountStatus">Financial Account Status</label>
                    <select class="form-control" name="financialAccountStatus" [(ngModel)]="financialAccount.financialAccountStatus" id="field_financialAccountStatus" >
                        <option value="ENABLED">ENABLED</option>
                        <option value="DISABLED">DISABLED</option>
                    </select>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
