<div>
    <h2 id="page-heading">
        <span>Vehicle Classes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-vehicle-class" [routerLink]="['/vehicle-class/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Vehicle Class
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="vehicleClasses">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Axes</span></th>
            <th><span>Description</span></th>
            <th><span>Double Wheel</span></th>
            <th><span>Vehicle</span></th>
            <th><span>Id Billing Tariff</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let vehicleClass of vehicleClasses ;trackBy: trackId">
                <td><a [routerLink]="['/vehicle-class', vehicleClass.id, 'view' ]">{{vehicleClass.id}}</a></td>
                <td>{{vehicleClass.axes}}</td>
                <td>{{vehicleClass.description}}</td>
                <td>{{vehicleClass.doubleWheel}}</td>
                <td>
                    <div *ngIf="vehicleClass.vehicleId">
                        <a [routerLink]="['../vehicle', vehicleClass.vehicleId , 'view' ]" >{{vehicleClass.vehicleId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="vehicleClass.idBillingTariffId">
                        <a [routerLink]="['../billing-tariff', vehicleClass.idBillingTariffId , 'view' ]" >{{vehicleClass.idBillingTariffId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/vehicle-class', vehicleClass.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/vehicle-class', vehicleClass.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'vehicle-class', { outlets: { popup: vehicleClass.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
