<div>
    <h2 id="page-heading">
        <span>Vehicle Accounts</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-vehicle-account" [routerLink]="['/vehicle-account/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Vehicle Account
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="vehicleAccounts">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Vehicle Status</span></th>
            <th><span>Id Vehicle</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let vehicleAccount of vehicleAccounts ;trackBy: trackId">
                <td><a [routerLink]="['/vehicle-account', vehicleAccount.id, 'view' ]">{{vehicleAccount.id}}</a></td>
                <td>{{vehicleAccount.vehicleStatus}}</td>
                <td>
                    <div *ngIf="vehicleAccount.idVehicleId">
                        <a [routerLink]="['../vehicle', vehicleAccount.idVehicleId , 'view' ]" >{{vehicleAccount.idVehicleId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/vehicle-account', vehicleAccount.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/vehicle-account', vehicleAccount.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'vehicle-account', { outlets: { popup: vehicleAccount.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
