<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-automatic-operation-heading">Create or edit a Automatic Operation</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!automaticOperation.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="automaticOperation.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_amount">Amount</label>
                    <input type="number" class="form-control" name="amount" id="field_amount"
                        [(ngModel)]="automaticOperation.amount" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_recurrent">Recurrent</label>
                    <input type="checkbox" class="form-control" name="recurrent" id="field_recurrent"
                        [(ngModel)]="automaticOperation.recurrent" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_automatictOperationStatus">Automatict Operation Status</label>
                    <select class="form-control" name="automatictOperationStatus" [(ngModel)]="automaticOperation.automatictOperationStatus" id="field_automatictOperationStatus" >
                        <option value="ACTIVATED">ACTIVATED</option>
                        <option value="DISABLED">DISABLED</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_automatictEvent">Automatict Event</label>
                    <select class="form-control" name="automatictEvent" [(ngModel)]="automaticOperation.automatictEvent" id="field_automatictEvent" >
                        <option value="RECHARGE">RECHARGE</option>
                        <option value="BLOCK">BLOCK</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_transactionType">Transaction Type</label>
                    <select class="form-control" name="transactionType" [(ngModel)]="automaticOperation.transactionType" id="field_transactionType" >
                        <option value="CREDIT">CREDIT</option>
                        <option value="DEBIT">DEBIT</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_accountOperation">Account Operation</label>
                    <select class="form-control" id="field_accountOperation" name="accountOperation" [(ngModel)]="automaticOperation.accountOperationId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="accountOperationOption.id" *ngFor="let accountOperationOption of accountoperations; trackBy: trackAccountOperationById">{{accountOperationOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
