<div>
    <h2 id="page-heading">
        <span>Media</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-media" [routerLink]="['/media/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Media
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="media">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Identification</span></th>
            <th><span>Vehicle</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let media of media ;trackBy: trackId">
                <td><a [routerLink]="['/media', media.id, 'view' ]">{{media.id}}</a></td>
                <td>{{media.identification}}</td>
                <td>
                    <div *ngIf="media.vehicleId">
                        <a [routerLink]="['../vehicle', media.vehicleId , 'view' ]" >{{media.vehicleId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/media', media.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/media', media.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'media', { outlets: { popup: media.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
