<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="billingTariff">
            <h2><span>Billing Tariff</span> {{billingTariff.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Day Of Week</span></dt>
                <dd>
                    <span>{{billingTariff.dayOfWeek}}</span>
                </dd>
                <dt><span>Started In</span></dt>
                <dd>
                    <span>{{billingTariff.startedIn}}</span>
                </dd>
                <dt><span>Value</span></dt>
                <dd>
                    <span>{{billingTariff.value}}</span>
                </dd>
                <dt><span>Id Billing Tariff</span></dt>
                <dd>
                    <div *ngIf="billingTariff.idBillingTariffId">
                        <a [routerLink]="['/vehicle-class', billingTariff.idBillingTariffId, 'view']">{{billingTariff.idBillingTariffId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/billing-tariff', billingTariff.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
