<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-account-transction-heading">Create or edit a Account Transction</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!accountTransction.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="accountTransction.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_amount">Amount</label>
                    <input type="number" class="form-control" name="amount" id="field_amount"
                        [(ngModel)]="accountTransction.amount" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_origin">Origin</label>
                    <input type="text" class="form-control" name="origin" id="field_origin"
                        [(ngModel)]="accountTransction.origin" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_transactionType">Transaction Type</label>
                    <select class="form-control" name="transactionType" [(ngModel)]="accountTransction.transactionType" id="field_transactionType" >
                        <option value="CREDIT">CREDIT</option>
                        <option value="DEBIT">DEBIT</option>
                    </select>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
