<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-user-account-heading">Create or edit a User Account</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!userAccount.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="userAccount.id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_financialAccount">Financial Account</label>
                    <select class="form-control" id="field_financialAccount" name="financialAccount" [(ngModel)]="userAccount.financialAccountId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="financialAccountOption.id" *ngFor="let financialAccountOption of financialaccounts; trackBy: trackFinancialAccountById">{{financialAccountOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_accountable">Accountable</label>
                    <select class="form-control" id="field_accountable" name="accountable" [(ngModel)]="userAccount.accountableId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="personOption.id" *ngFor="let personOption of people; trackBy: trackPersonById">{{personOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_contacts">Contacts</label>
                    <select class="form-control" id="field_contacts" name="contacts" [(ngModel)]="userAccount.contactsId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="personOption.id" *ngFor="let personOption of people; trackBy: trackPersonById">{{personOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
