<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="billingLocation">
            <h2><span>Billing Location</span> {{billingLocation.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{billingLocation.description}}</span>
                </dd>
                <dt><span>Code</span></dt>
                <dd>
                    <span>{{billingLocation.code}}</span>
                </dd>
                <dt><span>Id Billing Location</span></dt>
                <dd>
                    <div *ngIf="billingLocation.idBillingLocationId">
                        <a [routerLink]="['/billing-tariff', billingLocation.idBillingLocationId, 'view']">{{billingLocation.idBillingLocationId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/billing-location', billingLocation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
