<div>
    <h2 id="page-heading">
        <span>Billing Locations</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-billing-location" [routerLink]="['/billing-location/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Billing Location
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="billingLocations">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Description</span></th>
            <th><span>Code</span></th>
            <th><span>Id Billing Location</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let billingLocation of billingLocations ;trackBy: trackId">
                <td><a [routerLink]="['/billing-location', billingLocation.id, 'view' ]">{{billingLocation.id}}</a></td>
                <td>{{billingLocation.description}}</td>
                <td>{{billingLocation.code}}</td>
                <td>
                    <div *ngIf="billingLocation.idBillingLocationId">
                        <a [routerLink]="['../billing-tariff', billingLocation.idBillingLocationId , 'view' ]" >{{billingLocation.idBillingLocationId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/billing-location', billingLocation.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/billing-location', billingLocation.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'billing-location', { outlets: { popup: billingLocation.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
