<div>
    <h2 id="page-heading">
        <span>Vehicles</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-vehicle" [routerLink]="['/vehicle/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Vehicle
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="vehicles">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="color"><span>Color</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="manufacturer"><span>Manufacturer</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="model"><span>Model</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="plate"><span>Plate</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="vehicleStatus"><span>Vehicle Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="idVehicleClassId"><span>Id Vehicle Class</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="idMediaId"><span>Id Media</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let vehicle of vehicles ;trackBy: trackId">
                <td><a [routerLink]="['/vehicle', vehicle.id, 'view' ]">{{vehicle.id}}</a></td>
                <td>{{vehicle.color}}</td>
                <td>{{vehicle.manufacturer}}</td>
                <td>{{vehicle.model}}</td>
                <td>{{vehicle.plate}}</td>
                <td>{{vehicle.vehicleStatus}}</td>
                <td>
                    <div *ngIf="vehicle.idVehicleClassId">
                        <a [routerLink]="['../vehicle-class', vehicle.idVehicleClassId , 'view' ]" >{{vehicle.idVehicleClassId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="vehicle.idMediaId">
                        <a [routerLink]="['../media', vehicle.idMediaId , 'view' ]" >{{vehicle.idMediaId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/vehicle', vehicle.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/vehicle', vehicle.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'vehicle', { outlets: { popup: vehicle.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
